:host {
  --table-color : hsl(35deg 100% 42%);
  --column-color :hsl(274deg 52% 37%);

  ngx-monaco-editor {
    height: 100%;
    width: 100%;
    ::ng-deep {
      .codicon-symbol-text {
        color: var(--table-color);
        font-family: serif;
        &::before{
          content: 'T';
        }
      }
    .codicon-symbol-class {
      color: var(--column-color);
      font-family: serif;
      &::before{
        content: 'C';
      }
    }
    }
  }
}
