.editor-wrapper {
  height: 35vh;
  border: 1px solid #b8b8b8;
  margin: 1rem 2rem;
  border-radius: 5px;
  legend{
    font-family: sans-serif;
    color: purple;
  }
}
h2{
  margin:1rem 2rem ;

}


